<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
       
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q-tha Rent - INVENTORY</title>
</head>
<body>
    <%- include('../partial/header.ejs'); %>
    <%- include('../partial/errors_partial')%>
    <h1>INVENTORIES</h1>
    <form method="POST" action="/inventory">
        <input type="text" name="jenis" placeholder="jenis"> <br> <br>
        <input type="text" name="serial_number" placeholder="serial number"> <br><br>
        <input type="text" name="kategori" placeholder="kategori"> <br><br>
        <input type="text" name="harga_sewa" placeholder="harga sewa; ex: 500000"> <br><br>
        <input type="submit" value="SIMPAN"> <br> <br>
    </form>



    <table class="table">
        <thead>
            <tr>
                <td>
                    No
                </td>
                <td>
                    ID Inventories
                </td>
                <td>
                    Jenis
                </td>
                <td>
                    Serial Number
                </td>
                <td>
                    Kategori
                </td>
                <td>
                    Harga
                </td>
                <td>
                    Status
                </td>
                <td>
                    Action
                </td>  
            </tr>
        </thead>

        <tbody>
            <% inventories.forEach((elemen, idx)=> { %>
                <tr>
                    <td>
                        <%= idx + 1%>
                    </td>
                    <td>
                        <%= elemen.id %>
                    </td>
                    <td>
                        <%= elemen.jenis %>
                    </td>
                    <td>
                        <%= elemen.serial_number %>
                    </td>
                    <td>
                        <%= elemen.kategori %>
                    </td>
                    <td>
                        <%= formatUang(elemen.harga_sewa) %>
                    </td>
                    <td>
                        <%= elemen.status %>
                    </td>
                    <td>
                        <a href= <%= `/inventory/${elemen.id}/edit` %> > edit </a> || <a href= <%= `/inventory/${elemen.id}/delete` %> >delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>



</body>
</html>